
.App {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 100vh;
  background-color: #a7d5f0 ;
}

.App > div {

}

.todolist {
  height: max-content;
  border: 3px solid #003B46;
  border-radius: 5px;
  padding: 20px;
  background-color: #a7d5f0;
  margin: 30px 10px;
}

.task {
  font-weight: bold;
}

.task-done {
  text-decoration: line-through;
  opacity: 0.5;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.addItemForm {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 70px;
  margin-left: 80px;
}

.todolists {
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}






